* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.questions {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.questions h1 {
  margin-bottom: 2%;
  font-size: 3rem;
}

.questions__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 500;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
}

.questions__numbers {
  width: 80%;
  margin-top: 1.4%;
  margin-bottom: 1.2%;
}

.questions__numbers span {
  padding-left: 8px;
}

.ques {
  width: 85%;
  background-color: #e0fafa;
  text-align: left;
  padding: 1.4%;
}

.btnholder {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

.truebtn button {
  width: 150px;
  font-size: large;
  font-weight: 500;
  border-radius: 0.8rem;
  border: 1px solid #c4bebe;
  background-color: #2b70d8;
  color: #fff;
  padding: 11%;
  cursor: pointer;
}

.truebtn button:hover {
  background-color: #0a377a;
  color: white;
  transition: 2s;
}

.falsebtn button {
  width: 150px;
  height: 50px;
  font-size: large;
  font-weight: 500;
  border-radius: 0.8rem;
  border: 1px solid #c4bebe;
  background-color: #7c1010;
  color: #fff;
  padding: 11%;
  cursor: pointer;
}

.falsebtn button:hover {
  background-color: #4b0b0b;
  color: #fff;
  transition: 2s;
}

.see__results button {
  width: 150px;
  height: 55px;
  font-size: large;
  font-weight: 500;
  padding: 1%;
  border-radius: 3px;
  margin-top: 8%;
  background-color: #672d0edf;
  color: #fff;
}

@media (max-width: 768px) {
  .questions__content {
    width: 80%;
    height: fit-content;
    padding: 2%;
  }
}

@media (max-width: 768px) {
  .questions__content {
    width: 90%;
    height: fit-content;
    padding: 2%;
  }

  .truebtn button {
    width: 120px;
  }

  .falsebtn button {
    width: 120px;
  }
}
