* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.results {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.header1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

.resultsnum {
  width: 30%;
  height: 12vh;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.result__container {
  width: 67%;
  padding: 1%;
  margin-top: 1%;
}

.questions__results {
  width: 95%;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 1%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 2.4;
  font-size: 18px;
  background-color: #f2f8faf8;
  border: 1px solid grey;
  margin-top: 1.2%;
}

.correctan {
  font-size: 1.5rem;
  font-weight: bold;
}

.back {
  width: 140px;
  height: 60px;
  border-radius: 7px;
  font-size: larger;
  background-color: white;
}

.back:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 1s;
}

.btn__holder {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .results {
    display: block;
    text-align: center;
    height: fit-content;
  }

  .resultsnum {
    width: 100%;
    margin-top: 9%;
  }

  .result__container {
    width: 99%;
  }

  .result__content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .results {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .result__container {
    width: 99%;
  }

  .result__content {
    width: 100%;
  }

  .questions__results {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .results {
    display: block;
    text-align: center;
  }

  .resultsnum {
    margin-bottom: 40%;
  }
}
